* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.files > div {
  margin: 10px;
}

.preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img_container {
  padding: 10px;
}

.width {
  width: 150px;
  object-fit: contain;
}

.txt_container {
  width: 150px;
  word-break: break-all;
}

.speaker {
  padding: 1rem;
  background-color: teal;
}

input {
  margin: 5px;
}

button {
  margin: 10px;
}
